.glass-container {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255 ,255, .4);
  backdrop-filter: blur(10px);
}

.light-glass-container {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255 ,255, .7);
  backdrop-filter: blur(10px);
}

.black-glass-container {
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(56, 56, 56, .96)
}
.time-glass-container {
  min-width: 200px;
}

.glass-container-title,
.glass-container-description {
  margin: 0;
  color: #ffffff;
}